@page
@model BankApp.Pages.AccountManagment.TransferBalanceModel
@{
    ViewData["Title"] = "Transfer Balance";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankAccount.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankAccount.Balance)
        </dd>
    </dl>
    <div>
        <p>Type the balance you like to transfer</p>
        <label asp-for="SelectedBalance">Balance: </label>
        <input asp-for="SelectedBalance" />
    </div>
    <div>
        <form>
            <div>
                <label asp-for="SelectedItem"></label>
                <select asp-for="SelectedItem" asp-items="@Model.selectListItems">
                    <option selected disabled>-- Select Account --</option>
                </select>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
